.add-form {
  background-color: #4f46e5;

  input[type=text] {
    font-size: 20px;
    line-height: 1;
    padding: 10px;
    border-radius: 10px;
    border: none;
    margin: 0 10px 0 0;
  }

  input[type=text]:focus {
    outline: none;
  }

  button {
    color: #4f46e5;
    background-color: #fff;
    font-weight: bold;
    box-sizing: border-box;
    position: relative;
    -webkit-user-select: none;
    user-select: none;
    cursor: pointer;
    outline: none;
    border: none;
    -webkit-tap-highlight-color: rgba(0,0,0,0);
    display: inline-block;
    white-space: nowrap;
    text-decoration: none;
    vertical-align: baseline;
    text-align: center;
    margin: 0;
    font-size: 20px;
    line-height: 1;
    padding: 10px;
    border-radius: 10px;
    overflow: visible;
  }
}