.add-form {
  background-color: #4f46e5;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;

  .h2 {
    width: 100%;
    color: white;
    text-align: center;
  }

  input[type=text] {
    font-size: 20px;
    line-height: 1;
    padding: 10px;
    border-radius: 4px;
    border: none;
    margin: 0 0 10px;
    box-sizing: border-box;
    width: calc(1/2*100% - (1 - 1/2)*10px);
  }

  input[type=text]:focus {
    outline: none;
  }

  button {
    color: #4f46e5;
    background-color: #fff;
    font-weight: bold;
    box-sizing: border-box;
    position: relative;
    -webkit-user-select: none;
    user-select: none;
    cursor: pointer;
    outline: none;
    border: none;
    -webkit-tap-highlight-color: rgba(0,0,0,0);
    display: inline-block;
    white-space: nowrap;
    text-decoration: none;
    vertical-align: baseline;
    text-align: center;
    margin: 0;
    font-size: 20px;
    line-height: 1;
    padding: 10px;
    border-radius: 10px;
    overflow: visible;
  }
}